.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 22px;
}

.modal__close-button {
  border: none;
  background: transparent url("../../assets/modal-close-icon.svg")
    center no-repeat;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -41px;
  right: -41px;
}

/* .modal__close-button_type_image {
  background: transparent url("../../assets/item-modal-close-icon.svg") center
    no-repeat;
} */

.modal__content {
  max-width: 430px;
  height: 380px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 16px;
  position: relative;
  padding: 34px 36px 28px;
}

/* .modal__content_type_image {
  max-width: 498px;
  height: 610px;
  padding: 0;
} */

.modal__content_type_register {
  max-width: 430px;
  height: 456px;
}

.modal__content_type_login {
  max-width: 430px;
  height: 380px;
}

/* .modal__content_type_edit-profile {
  max-width: 496px;
  height: 304px;
} */

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.modal__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #2F71E5;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 4px 0 0;
  padding: 4px 0 4px;
}

.modal__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
}

.modal__input[type="text"],
.modal__input[type="url"],
.modal__input[type="email"],
.modal__input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:hover {
  cursor: text;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__input:focus {
  outline-offset: 2px;
}

/* .modal__radio-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 12px;
}

.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0 0 8px;
}

.modal__label_type_radio:last-of-type {
  margin: 0;
}

.modal__radio_input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: text-top;
  margin: 0 8px 0 0;
}

.modal__radio_input[type="radio"]:checked {
  background-color: #fff;
  border: 1px solid #000;
}

.modal__radio_input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__label_type_radio:has(input[type="radio"]:checked) {
  color: #000;
} */

.modal__button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 8px 0 0;
}

.modal__submit {
  background-color: #E6E8EB;
  width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 8px 16px;
}
/*
.modal__submit_type_edit-profile {
  width: 128px;
  height: 36px;
} */

.modal__submit:hover {
  background-color: #2F71E5;
  box-shadow: 0 4px 24px rgba(26, 27, 34, 0.08),
    0 2px 8px rgba(26, 27, 34, 0.06);
  color: #fff;
  cursor: pointer;
  transition: linear 0.1s;
}

.modal__submit:disabled {
  background-color: #E6E8EB;
}

.modal__alt-action-button {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #2F71E5;
  padding: 0;
}

.modal__alt-action-button:hover {
  text-decoration: underline;
  color: #2F71E5;
  cursor: pointer;
  transition: linear 0.1s;
}