.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 22px;
}

.modal__close-button {
  border: none;
  background: transparent url("../../assets/modal-close-icon.svg")
    center no-repeat;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -41px;
  right: -41px;
}

.modal__content {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px 28px;
}

.modal__content_type_register {
  max-width: 430px;
}

.modal__content_type_login {
  max-width: 430px;
}

.modal__content_type_register_confirmation {
  max-width: 430px;
  padding: 43px 36px 51px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.modal__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #2F71E5;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 4px 0 0;
  padding: 4px 0 4px;
}

.modal__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
}

.modal__input[type="text"],
.modal__input[type="url"],
.modal__input[type="email"],
.modal__input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:hover {
  cursor: text;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__input:focus {
  outline-offset: 2px;
}

.modal__button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 8px 0 0;
}

.modal__submit {
  background-color: #E6E8EB;
  width: 358px;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 8px 16px;
}

.modal__submit:hover {
  background-color: #2F71E5;
  box-shadow: 0 4px 24px rgba(26, 27, 34, 0.08),
    0 2px 8px rgba(26, 27, 34, 0.06);
  color: #fff;
  cursor: pointer;
  transition: linear 0.1s;
}

.modal__submit:disabled {
  background-color: #E6E8EB;
}

.modal__alt-action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* width: 100%; */
}

.modal__alt-action-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #000000;
  padding: 0;
  margin: 0;
}

.modal__alt-action-button {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #2F71E5;
  padding: 0;
}

.modal__alt-action-button:hover {
  text-decoration: underline;
  color: #2F71E5;
  cursor: pointer;
  transition: linear 0.1s;
}

.modal__content_type_register_confirmation .modal__alt-action-row {
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .modal__content {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border-radius: 24px 24px 0 0;
    position: fixed;
    left: 0;
    top: 56px;
    right: 0;
    bottom: 0;
    padding: 16px 17px 0;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .modal__button-container {
    align-items: center;
  }

  .modal__submit {
    display: block;
    width: 288px;
    margin: 0 auto;
  }
}