.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 100vw;
  height: 576px;
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('../../assets/header-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.header__content {
  max-width: 608px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin: 0;
}

.header__subtitle {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 32px 0 0;
}

.header--saved-news {
  background: #fff !important;
  min-height: 200px;
  background-image: none !important;
}

.header--saved-news__content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 104px 0;
}

.header--saved-news__container {
  display: flex;
  flex-direction: column;
  max-width: 712px;
  width: 100%;
  padding: 0;
}

.header--saved-news__title {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
}

.header--saved-news__subtitle {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin: 0;
  padding: 24px 0 0;
}

.header--saved-news__keywords {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
  padding: 30px 0 0;
}

.header--saved-news__keywords--bold {
  font-weight: 700;
}

@media screen and (max-width: 768px) {

  .header__container {
    margin: 38px 0 0;
  }

  .header__content {
    max-width: 452px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

}